<ion-header>
  <!-- This one for per week colors -->
    <!-- <ion-navbar color="{{week.number}}"> -->
    <!-- This one for Default colors -->
    <ion-navbar [color]="color">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
          <p class='subtitle'> Week {{ week.number }}</p>
          {{ week.title }} 
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content id="videoPage">
  <div class="description">{{week.description }}</div>
  <ion-card *ngFor="let v of week.videos" text-wrap>
<!-- Android Specific Video Player -->
<ion-item (click)="androidPlayVideo(v.path)">
<button ion-button clear item-end large [color]="color"><ion-icon name="play"></ion-icon></button>
<h1 class="video-title">{{v.title}}</h1>
</ion-item>
</ion-card>
</ion-content>




<!-- Default video player 

  <ion-content id="videoPage">
  <div class="description">{{week.description }}</div>
  <ion-card *ngFor="let v of week.videos" text-wrap>
    <video [attr.id]='v.path' controls class="video" poster="assets/img/vidthumb.jpg"  width="100%" (ended)="watched(v, $event);" style="position:absolute; z-index:99999;" hidden>
        <source [attr.src]="v.path" type='video/mp4' >
    </video>
 
    <ion-item (click)='playVideo(v.path)'>
        <button ion-button clear item-end large [color]="color"><ion-icon name="play"></ion-icon></button>
        <h1 class="video-title">{{v.title}}</h1>
         </ion-item>
            </ion-card>
            </ion-content>
-->  
     
 



